*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue : rgb(26, 25, 25);
    --purple :  #511281;
    --green : #4ca1a3;
    --torq : #a5e1ad;
    --off-white : rgb(241, 240, 240);
    --bx-white : rgb(223, 210, 210);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar {
    box-shadow: 1px 1px 15px var(--bx-white);
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0px 5%;
}

.navbar h3 {
    flex-basis: 40%;
    cursor: pointer;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 33.3%;
}

.navbar ul li {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navbar ul li:hover {
    box-shadow: 1px 1px 10px var(--bx-white);
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li a:visited {
    color: black;
}


.table {
    
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    box-shadow: 1px 1px 30px rgb(218, 216, 216);
}

td {
    border-right: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
    padding: 5px;
}

tbody tr:nth-of-type(2n) {
    background: var(--bx-white);
}

article {
    text-align: center;
    width: 95%;
    margin: auto;
    min-height: 89.1%;
    height: 90vh;
    margin-bottom: 1vh;
    position: relative;
    margin-top: 4%;
}

article .header {
    margin: 8px 0;
    transition: all 0.5s ease-in-out;
}

.table {
    transition: all 0.5s ease-in-out;
}

.table thead {
    background-color: rgb(27, 23, 23);
    color: white;
}

.hidden {
    display: none;
}


#loading {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: 10vh;
    transform: translate(-50%, -50%);
    border: 10px solid #f3f3f3;
    border-top: 10px solid black;
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

article {
    width: 95%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85%;
    
}

select {
    height: 50%;
    outline: none;
    border: none;
    border: 3px solid var(--dark-blue);
    border-radius: 10px;
    background: 0;
    appearance: none;
    padding: 10px;
    font-size: 0.9em;
}

select option {
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.table {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    margin-left: 15px;
}

.header {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;  
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 20px var(--bx-white);
    margin-right: 5px;
}

.search-bar select {
    width: 90%;
    height: 40%;
    margin-bottom: 5px;
}

.search-bar .btn {
    width: 80%;
    height: 30%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

td {
    padding: auto;
}


